﻿@addTagHelper "*, Web"
@{
    ViewData["Title"] = "新規作成";
    var modelDisplayName = ViewData["ModelDisplayName"];
    var readOnlyProps = ViewBag.ReadOnlyPropertyNames as List<string>;
    var props = Model.GetType().GetProperties() as IEnumerable<System.Reflection.PropertyInfo>;
    props = props
        .Where(x => !readOnlyProps.Contains(x.Name));
}

<h2>新規作成</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>@modelDisplayName</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        @foreach (var prop in props.Select(x => x.Name))
        {
            <edit asp-for="@prop"></edit>
        }

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" name="action" value="Save" class="btn btn-primary">保存</button>
                <a asp-action="Index" class="btn btn-default">一覧へ戻る</a>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
