﻿@{
    ViewData["Title"] = "削除";
    var modelDisplayName = ViewData["ModelDisplayName"];
    var props = Model.GetType().GetProperties() as IEnumerable<System.Reflection.PropertyInfo>;
}

<h2>削除</h2>

<div>
    <h4>@modelDisplayName</h4>
    <hr />
    <div class="alert alert-warning">
        <p>データを論理削除します。</p>
    </div>
    <dl class="dl -horizontal">
        @foreach (var prop in props)
        {
            <dt>
                @Html.DisplayName(prop.Name)
            </dt>
            <dd>
                @Html.Display(prop.Name)
            </dd>
        }
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="削除" class="btn btn-danger" />
            <a asp-action="Index" class="btn btn-default">一覧へ戻る</a>
        </div>
    </form>
</div>
