﻿@{
    ViewData["Title"] = "詳細";
    var modelDisplayName = ViewData["ModelDisplayName"];
    var props = Model.GetType().GetProperties() as IEnumerable<System.Reflection.PropertyInfo>;
}

<h2>詳細</h2>

<div>
    <h4>@modelDisplayName</h4>
    <hr />
    <dl class="dl-horizontal">
        @foreach (var prop in props)
        {
            <dt>
                @Html.DisplayName(prop.Name)
            </dt>
            <dd>
                @Html.Display(prop.Name)
            </dd>
        }
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">編集</a>
    <a asp-action="Index" class="btn btn-default">一覧へ戻る</a>
</div>
