﻿@addTagHelper "*, Web"
@{
    ViewData["Title"] = "編集";
    var modelDisplayName = ViewData["ModelDisplayName"];
    var readOnlyProps = ViewBag.ReadOnlyPropertyNames as List<string>;
    var props = Model.GetType().GetProperties() as IEnumerable<System.Reflection.PropertyInfo>;
    props = props
        .Where(x => !readOnlyProps.Contains(x.Name));
}

<h2>編集</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>@modelDisplayName</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" for="Id" value=""/>

        @foreach (var prop in props.Select(x => x.Name))
        {
            <edit asp-for="@prop"></edit>
        }

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="変更を保存" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-default">一覧へ戻る</a>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
