﻿@{
    ViewData["Title"] = "一覧";
    var modelDisplayName = ViewData["ModelDisplayName"];
    var model = (Model as IEnumerable<dynamic>).FirstOrDefault();
    var props = model?.GetType().GetProperties() as IEnumerable<System.Reflection.PropertyInfo> ?? new List<System.Reflection.PropertyInfo>();
}

<h2>一覧</h2>
<h4>@modelDisplayName</h4>

<p>
    <a asp-action="Create" class="btn btn-default">新規作成</a>
</p>
<table class="table">
    <thead>
        <tr>
            @foreach (var prop in props)
            {
                <th>
                    @prop.Name
                </th>
            }
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @foreach (var value in props.Select(x => x.GetValue(item)))
                {
                    <td>
                        @value
                    </td>
                }
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">編集</a>
                    <a asp-action="Details" asp-route-id="@item.Id">詳細</a>
                    <a asp-action="Delete" asp-route-id="@item.Id">削除</a>
                </td>
            </tr>
        }
    </tbody>
</table>
