﻿@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>

<p>
    ASP.NET Core と EF Core を使ったデータ管理サイトのサンプル。<br />
    ライセンスは <a href="http://www.wtfpl.net/txt/copying/">WTFPL</a> (勝手にしてください)。
</p>
